<h1>Editing proponente</h1>

<%= render "form", proponente: @proponente %>

<br>

<div>
  <%= link_to "Show this proponente", @proponente %> |
  <%= link_to "Back to proponentes", proponentes_path %>
</div>
