<h1>Editar proponente</h1>

<%= render "form", proponente: @proponente %>

<br>

<div>
  <%= link_to "Visualizar", @proponente, class: 'btn btn-info' %>
  <%= link_to "Voltar", proponentes_path, class: 'btn btn-secondary' %>
</div>
